ProgettoAP/Connected Services/ServiceReference/DBService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DBService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Server/DBService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Server/DBService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Server/DBService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Server.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDBService_Connessione_InputMessage">
    <wsdl:part name="parameters" element="tns:Connessione" />
  </wsdl:message>
  <wsdl:message name="IDBService_Connessione_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnessioneResponse" />
  </wsdl:message>
  <wsdl:message name="IDBService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IDBService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IDBService_InfoUtente_InputMessage">
    <wsdl:part name="parameters" element="tns:InfoUtente" />
  </wsdl:message>
  <wsdl:message name="IDBService_InfoUtente_OutputMessage">
    <wsdl:part name="parameters" element="tns:InfoUtenteResponse" />
  </wsdl:message>
  <wsdl:message name="IDBService_InfoCeo_InputMessage">
    <wsdl:part name="parameters" element="tns:InfoCeo" />
  </wsdl:message>
  <wsdl:message name="IDBService_InfoCeo_OutputMessage">
    <wsdl:part name="parameters" element="tns:InfoCeoResponse" />
  </wsdl:message>
  <wsdl:message name="IDBService_GetNomiOrganizzazioni_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNomiOrganizzazioni" />
  </wsdl:message>
  <wsdl:message name="IDBService_GetNomiOrganizzazioni_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNomiOrganizzazioniResponse" />
  </wsdl:message>
  <wsdl:portType name="IDBService">
    <wsdl:operation name="Connessione">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBService/Connessione" message="tns:IDBService_Connessione_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBService/ConnessioneResponse" message="tns:IDBService_Connessione_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBService/Login" message="tns:IDBService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBService/LoginResponse" message="tns:IDBService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InfoUtente">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBService/InfoUtente" message="tns:IDBService_InfoUtente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBService/InfoUtenteResponse" message="tns:IDBService_InfoUtente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InfoCeo">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBService/InfoCeo" message="tns:IDBService_InfoCeo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBService/InfoCeoResponse" message="tns:IDBService_InfoCeo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNomiOrganizzazioni">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBService/GetNomiOrganizzazioni" message="tns:IDBService_GetNomiOrganizzazioni_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBService/GetNomiOrganizzazioniResponse" message="tns:IDBService_GetNomiOrganizzazioni_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDBService" type="tns:IDBService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Connessione">
      <soap:operation soapAction="http://tempuri.org/IDBService/Connessione" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IDBService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InfoUtente">
      <soap:operation soapAction="http://tempuri.org/IDBService/InfoUtente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InfoCeo">
      <soap:operation soapAction="http://tempuri.org/IDBService/InfoCeo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNomiOrganizzazioni">
      <soap:operation soapAction="http://tempuri.org/IDBService/GetNomiOrganizzazioni" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DBService">
    <wsdl:port name="BasicHttpBinding_IDBService" binding="tns:BasicHttpBinding_IDBService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Server/DBService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>